.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# LaTeX build artifacts
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.idx
doc/*.ind
doc/*.lof
doc/*.lot
doc/*.out
doc/*.toc
doc/*.acn
doc/*.acr
doc/*.alg
doc/*.glg
doc/*.glo
doc/*.gls
doc/*.ist
doc/*.fls
doc/*.log
doc/*.fdb_latexmk
doc/*.synctex.gz
doc/*.dvi

doc-textbook/*.aux
doc-textbook/*.bbl
doc-textbook/*.blg
doc-textbook/*.idx
doc-textbook/*.ind
doc-textbook/*.lof
doc-textbook/*.lot
doc-textbook/*.out
doc-textbook/*.toc
doc-textbook/*.acn
doc-textbook/*.acr
doc-textbook/*.alg
doc-textbook/*.glg
doc-textbook/*.glo
doc-textbook/*.gls
doc-textbook/*.ist
doc-textbook/*.fls
doc-textbook/*.log
doc-textbook/*.fdb_latexmk
doc-textbook/*.synctex.gz
doc-textbook/*.dvi
